body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.block {
  padding: 10px;
  margin: 10px;
  background-color:#E7E7E7;
}

.status_active {
  color: #47A447;
}

.status_disabled {
  color: #FF0000;
}
