<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
      <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/journeys</property>
        <property name="connection.username">lena</property>
        <property name="connection.password">SuperNikitik</property>
 
      <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
      <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
      <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
      <!-- Mapping files -->
      	<mapping class="journeys.entity.Client"/>
      	<mapping class="journeys.entity.Company"/>
      	<mapping class="journeys.entity.Direction"/>
      	<mapping class="journeys.entity.Journey"/>
      	<mapping class="journeys.entity.Order"/>
      	<mapping class="journeys.entity.Route"/>
      	<mapping class="journeys.entity.Station"/>
      	
    </session-factory>
</hibernate-configuration>